---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Acerca del sitio">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit inventore
    expedita sunt blanditiis odio minima esse fugit cum tempore aspernatur
    officia autem iusto aperiam dolorem molestiae voluptatem nihil, vel facere
    delectus eum ipsum possimus vitae ipsa ab! Neque rerum temporibus similique
    impedit ex maxime veniam voluptatem, quasi porro! Minus, voluptatibus ab
    quia cum earum obcaecati molestias animi aliquid. Quidem, quaerat quae
    nesciunt consequuntur error voluptate amet, perspiciatis voluptatem aperiam
    eius, debitis ex rem deleniti nulla perferendis animi aut at officiis ad
    blanditiis cum tempore! Dolorem quaerat architecto, placeat, natus ratione
    quam omnis at numquam obcaecati eius sint adipisci ipsum earum.
  </p>
</Layout>
